.header {
  position: relative;
  z-index: 999;

  &:after {
    content: '';
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 1019px;
    background: rgba(22, 154, 250, 0.08);
    filter: blur(256px);
    top: 0;
    right: 5%;
    z-index: -1;

    @media screen and (max-width: 1380px) {
      width: 500px;
      height: 500px;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }
}
