.growth {
  margin-bottom: 232px;
  padding-bottom: 286px;
  position: relative;
  background-image: url(../../images/growth-image.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% -90px;

  @media screen and (max-width: 1440px) {
    background-position: 38% -100px;
  }

  @media screen and (max-width: 1130px) {
    background-size: 3000px;
    background-position: 36% -20px;
  }

  @media screen and (max-width: 1024px) {
    background-size: 2000px;
    background-position: 26% 61%;
  }

  @media screen and (max-width: 860px) {
    background-size: 2000px 385px;
    background-position: 50% 100%;
  }

  @media screen and (max-width: 480px) {
    background-size: 1600px 385px;
    background-position: 51% -12%;
    padding-top: 330px;
    margin-bottom: 0;
  }
}

.growth__title {
  max-width: 624px;
  margin-bottom: 16px;
}

.growth__text {
  max-width: 624px;

  p:not(:last-child) {
    margin-bottom: 50px;

    @media screen and (max-width: 480px) {
      margin-bottom: 30px;
    }
  }
}
