.tax {
  margin-bottom: 221px;

  @media screen and (max-width: 768px) {
    margin-bottom: 56px;
  }
}

.tax__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}

.tax__title {
  margin-bottom: 16px;
}

.tax__text {
  max-width: 624px;
  padding-bottom: 80px;
  margin-bottom: 57px;
  position: relative;

  @media screen and (max-width: 768px) {
    padding-bottom: 42px;
    margin-bottom: 30px;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 584px;
    background-color: $primaryBlue;

    @media screen and (max-width: 768px) {
      width: 172px;
    }
  }
}

.tax__subtitle {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 57px;

  @media screen and (max-width: 768px) {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

.tax__tables {
  display: flex;
  gap: 10px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (max-width: 480px) {
    justify-content: flex-start;
  }
}

.tax__table {
  color: #fff;
  border-radius: 6px;
}

.tax__table-row {
  display: flex;
  justify-content: space-between;
  padding: 14px 16px;
  width: 359px;
  font-size: 12px;
  font-weight: 400;

  &:nth-child(odd) {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      linear-gradient(
        214deg,
        rgba(25, 44, 61, 0.48) 0%,
        rgba(14, 44, 71, 0.48) 100%
      );
  }

  &:nth-child(even) {
    background: linear-gradient(
      214deg,
      rgba(25, 44, 61, 0.48) 0%,
      rgba(14, 44, 71, 0.48) 100%
    );
  }

  &.tax__table-row--main {
    background: none;
    background-color: $primaryBlue;
    padding: 10px 16px;
    color: #000;
    border-radius: 10px 10px 0 0;
  }

  &:last-child {
    border-radius: 0 0 10px 10px;
  }
}

.tax__table-percent {
  margin-right: 30%;
}

.tax__image {
  @media screen and (max-width: 1440px) {
    max-width: 40%;
  }

  @media screen and (max-width: 1200px) {
    display: none;
  }
}
