.hero {
  padding-top: 103px;
  position: relative;
  z-index: 100;

  &.locked {
    z-index: 0;
  }

  @media screen and (max-width: 1024px) {
    padding-top: 60px;
  }

  @media screen and (max-width: 480px) {
    padding-top: 38px;
  }
}

.hero__inner {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.hero__lable {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: $primaryBlue;
  margin-bottom: 16px;

  @media screen and (max-width: 480px) {
    font-size: 14px;
    text-align: left;
  }
}

.hero__title {
  font-size: 56px;
  font-weight: 600;
  background: linear-gradient(
    43deg,
    rgba(255, 255, 255, 0.72) 0%,
    #fff 39.77%,
    rgba(169, 198, 215, 0.64) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 516px;
  margin-bottom: 32px;

  @media screen and (max-width: 1024px) {
    font-size: 44px;
  }

  @media screen and (max-width: 480px) {
    font-size: 36px;
    text-align: left;
    margin-bottom: 0;
  }
}

.hero__links {
  transition: transform 0.2s;
  a:active {
    transform: scale(0.95);
  }

  display: flex;
  gap: 30px;
  align-items: center;

  @media screen and (max-width: 1024px) {
    max-width: 335px;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 480px) {
    order: 2;
    margin-top: -50px;
  }
}

.hero__link {
  color: #fff;
  text-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.54px;
  padding: 23px 64px;
  display: inline-block;
  transition: all 0.2s ease;
  border-radius: 4px;
  text-align: center;
  background: linear-gradient(
    214deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 97.69%
  );
  box-shadow: -1px 1px 5px 0px rgba(255, 255, 255, 0.25) inset;

  &--blue {
    background: radial-gradient(
      66.33% 66.1% at 50% 17.8%,
      #29c5f6 0%,
      #1c8ade 100%
    );
    box-shadow: 0px 3px 0px 0px #004e86;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  &--image {
    padding: 21px 16px;
  }

  &:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width: 480px) {
    border-radius: 16px 4px 4px 4px;
  }
}

.hero__img {
  position: absolute;
  right: 10%;
  top: -120px;
  z-index: -1;

  @media screen and (max-width: 1700px) {
    right: 0%;
  }

  @media screen and (max-width: 1440px) {
    right: -10%;
  }

  @media screen and (max-width: 1170px) {
    right: -5%;
    top: 0%;
    width: 700px;
  }

  @media screen and (max-width: 1024px) {
    right: -8%;
    top: -5%;
  }

  @media screen and (max-width: 860px) {
    right: -8%;
    top: 0%;
    width: 500px;
  }

  @media screen and (max-width: 768px) {
    position: static;
  }

  @media screen and (max-width: 480px) {
    order: 1;
  }
}

.hero__stats {
  padding: 20px 0;
  margin-top: 149px;
  border-radius: 4px;
  position: relative;
  background: linear-gradient(
    214deg,
    rgba(25, 44, 61, 0.48) 0%,
    rgba(14, 44, 71, 0.48) 100%
  );
  box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.06) inset;
  backdrop-filter: blur(24px);

  @media screen and (max-width: 1024px) {
    margin-top: 70px;
  }

  @media screen and (max-width: 768px) {
    margin-top: -50px;
    padding: 20px 60px;
  }

  @media screen and (max-width: 480px) {
    order: 3;
    margin-top: 60px;
  }
}

.hero__stats-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 121px;

  @media screen and (max-width: 1350px) {
    gap: 50px;
  }

  @media screen and (max-width: 1024px) {
    gap: 30px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}

.hero__stats-item {
  display: flex;
  flex-direction: column;
  align-items: start;

  span:first-child {
    font-size: 16px;
    font-weight: 400;
    color: $primaryBlue;
    margin-bottom: 8px;

    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }

    @media screen and (max-width: 768px) {
      margin: 0 auto 8px auto;
    }
  }

  span:last-child {
    font-size: 32px;
    font-weight: 700;
    color: #fff;

    @media screen and (max-width: 1024px) {
      font-size: 24px;
    }

    @media screen and (max-width: 768px) {
      font-size: 32px;
    }
  }
}
