.footer {
  padding-bottom: 116px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 693px;
    height: 694px;
    top: -70%;
    right: 2%;
    background-image: url('../../images/footer-img.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 0;

    @media screen and (max-width: 1620px) {
      right: -10%;
    }

    @media screen and (max-width: 1300px) {
      right: -25%;
    }

    @media screen and (max-width: 1024px) {
      right: -3%;
      top: -10%;
      width: 300px;
      height: 301px;
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 42px;
  }
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 39px;

  position: relative;
  z-index: 1;
}

.footer__social {
  .socials {
    gap: 5px;
    pointer-events: all;

    @media screen and (max-width: 768px) {
      position: relative;
      height: 65px;
      opacity: 1;
      visibility: visible;
    }
  }

  .socials li a {
    width: 65px;
    height: 65px;

    transition: transform 0.2s;
    &:active {
      transform: scale(0.95);
    }

    img {
      width: 45%;
      height: 45%;
    }

    @media screen and (max-width: 768px) {
      width: 55px;
      height: 55px;
    }
  }
}

.footer__copy {
  p {
    font-size: 12px;
    font-weight: 400;
    color: #465a79;
  }
}
